* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    position: relative;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ced6e0;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar li {
    list-style: none;
}

.NavLink {
    text-decoration: none;
}

.red {
    color: #00b697;
    text-decoration: none;
}

.black {
    color: black;
    text-decoration: none;
}

.navhome {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menuicon {
    border: 1px solid gray;
    padding: 5px 5px 3px 5px;
    display: none;
    margin-right: 50px;
    cursor: pointer;
}

.navhome img {
    width: 180px;
    height: 50px;
    border: none;
}


.mainnav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mainnav li {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.4s;
}

.mainnav li:hover {
    color: #00b697;
}

.navtrackparcel li {
    color: #00b697;
    font-weight: 500;
    font-size: 18px;
}

.navbutton {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlogin li {
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    transition: 0.4s;
}

.navlogin li:hover {
    color: #00b697;
}

.navli {
    text-decoration: none;
}

.signup li {
    background-color: #00b697;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 15px 20px;
    transition: 0.4s;
}

.signup li:hover {
    background-color: #008f77;
}

.mobilehomeicon {
    position: absolute;
    background-color: wheat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeandcress {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: relative;

}

.homeandcress::before {
    content: "";
    width: 85%;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 60px;
    align-content: center;
}

.mobli {
    padding-left: 50px;
    margin-top: 50px;
}

.mobli li {
    margin-bottom: 10px;
    font-size: 20px;
}

.mobli li:hover {
    color: #00b697;
}

.crossmenu {
    color: gray;
    font-size: 30px;
    cursor: pointer;
}

.makemarchin {
    width: 100%;
    height: auto;
    display: flex;
    padding: 150px 50px 0px 50px;
}

.marchinbutton {
    /* width: 35%; */
    height: auto;
    margin-top: 50px;
}

.marchinbutton h1 {
    font-size: 50px;
    text-align: left;
    margin-bottom: 30px;
}

.marchinbutton span {
    position: relative;
}

.marchinbutton span::after {
    content: "";
    background: #e15f41;
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-radius: 0% 0% 100% 100%;

}

.marchinbutton span::before {
    content: "";
    background: white;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: 1;
}

.marchinbutton p {
    line-height: 25px;
    margin-bottom: 30px;
}

.marchinbutton button {
    border: none;
    outline: none;
    padding: 15px 18px;
    background-color: #00b697;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
}

.marchinbutton button:hover {
    background-color: #008f77;
    cursor: pointer;
}


.caicleimg {
    /* width: 35%; */
    height: auto;
}

.caicleimg img {
    width: 600px;
    height: 500px;
}


.ourinformation {
    /* width: 30%; */
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.information {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

}

.information p {
    color: #747d8c;
}

.icons {
    background-color: #dfe4ea;
    padding: 10px;
    font-size: 20px;
}
.brandslogo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.brandslogo h1{
    padding: 30px;
    margin-bottom: 30px;
}
.brands{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.brands img{
    width: 150px;
    height: 120px;
}
.ourscervise{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.ourscervise h1{
    margin-bottom: 40px;
}
.scervises{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.scervise{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.scervise img{
    width: 250px;
    height: 250px;
}
.scervise p{
    font-size: 20px;
    font-weight: 600;
    color: #2d3436;
}
.choose{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.choose h1{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    padding: 20px;
}
.for-resone{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}
.for-choose{
    border: 1px solid #dfe6e9;
    max-width: 30%;
    padding: 30px;
    border-radius: 20px;
}
.for-choose img{
    width: 70px;
    height: 70px;
    margin: 20px 0px;
}
.for-choose h2{
    padding: 20px 0px;
}
.for-choose p{
    padding: 20px 0px;
    color: #747d8c;
    font-size: 18px;
}


.quastionbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}
.quastionbar h1{
    padding: 30px 0px;
}
.items{
    width: 60%;
    height: auto;
    padding: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}
.items h2{
    font-size: 22px;
}
.qusbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.qusbar span{
    color: #00b697;
    font-size: 20px;
}
.answer{
    padding-top: 20px;
    color: #2f3640;
    font-size: 18px;
}

.maingrow{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.growbus{
    width: 90%;
    height: auto;
    background-color: #00b697;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 10px;
    border-radius: 20px;
}
.growbus h1{
    color: white;
    padding: 10px;
    font-size: 33px;
    text-align: center;
}
.growbus p{
    color: white;
    font-size: 18px;
    padding-bottom: 50px;
}
.growbus button{
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.4s;
}
.growbus button:hover{
    color: #008f77;
    cursor: pointer;
}
.licmem{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
    padding: 20px;
}
.license{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.license h6{
    color: #00b697;
    font-size: 16px;
    padding: 20px 0px;
}
.license h2{
    padding-bottom: 20px;
}
.license img{
    width: 220px;
    height: 150px;
}

.footer{
    width: 100%;
    height: auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ced6e0;
    flex-wrap: wrap;
}
.address{
    width: auto;
    height: auto;
}
.address img{
    width: 180px;
    height: 50px;
    margin-bottom: 20px;
}
.address p{
    color: #2f3640;
    margin-bottom: 10px;
}

.company{
    width: auto;
    height: auto;
}
.company h2{
    margin-bottom: 30px;
}
.company li{
    list-style: none;
    margin-bottom: 15px;
}
.company a{
    text-decoration: none;
    color: #2f3640;
    font-weight: 700;
}
.company a:hover{
    color: #00b697;
}
.follow{
    width: auto;
    height: auto;
}
.follow h2{
    margin-bottom: 30px;
}
.socal-icon{
    width: auto;
    height: auto;
    margin-bottom: 30px;
}
.socal-icon li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.socal-icon a{
    border: 1px solid #a4b0be;
    padding: 10px;
    border-radius: 50%;
    color: #a4b0be;
    transition: all 0.6s;
}
.socal-icon a:hover{
    border: 1px solid #00b697;
    color: #00b697;
    background-color: #c7ecee;
}
.app-store{
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 80px;
}
.app-store a{
    text-decoration: none;
    color: white;
}
.appdiv{
    background-color: black;
    border-radius: 8px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;

}
.apple{
    font-size: 25px;
    margin-right: 8px;
}
.list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}
.list p{
    color: #747d8c;
    text-align: center;
}
/* pricing */

.pricing{
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 0px 30px;
}
.delivery-charge{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delivery-charge h2{
    margin-bottom: 20px;
    font-size: 22px;
}
.delivery-charge p{
    font-size: 20px;
    color: #747d8c;
}
.seclationbar{
    margin-top: 80px;
}
.seclect{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.seclect label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
.seclect select{
    margin-bottom: 20px;
    appearance: none;
    padding: 15px 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #a4b0be;
    outline-offset: 1px;
    font-size: 16px;
}
.seclect>input{
    margin-bottom: 20px;
    appearance: none;
    padding: 15px 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #a4b0be;
    outline-offset: 1px;
    font-size: 16px;
}
.seclect select:hover{
    /* outline: 1px solid #008f77; */
    cursor: pointer;
    box-shadow: 0 0 0 3px rgba(0, 143, 119, 0.4);
    border: 1px solid #273c75;
}
.seclect input:hover{
     cursor: pointer;
    box-shadow: 0 0 0 3px rgba(0, 143, 119, 0.4);
    border: 1px solid #273c75;
}
.seclect input::placeholder{
    color: #2f3640;
    font-weight: 600;
}
.totalprice{
    width: 100%;
    border: 1px solid #a4b0be;
    margin: 80px 0px;
    border-radius: 7px;

}
.totalprice p{
    padding: 15px 5px;
    font-weight: 600;
}




.condation{
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-bottom: 120px;
}
.condation p{
    margin-bottom: 20px;
}
.checkicon{
    background-color: #008f77;
    padding: 4px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

/* coverage */
.search-area{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}
.search-area h1{
    margin: 70px 0px;
}
.search-area h2{
    padding: 10px 0px;
}
.search-area p{
    padding: 10px 0px ;
    color: #747d8c;
}
.covesearch{
    border: 1px solid #00b697;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.covesearch input{
    padding: 15px 40px;
}
.searchicon{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchicon{
    padding: 0px 10px;
    font-size: 22px;
    color: #747d8c;
}
.covesearch>input{
    border: none;
    outline: none;
    width: 100%;
}
.covesearch>input::placeholder{
    font-size: 17px;
    padding-left: 50px;
}
.btn{
    width: auto;
    height: auto;
    display: flex;
    background-color: #00b697;
    padding: 15px 30px;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
}
.searchicons{
    font-size: 22px;
    color: white;
    padding: 0px 5px;
}
.buttons>button{
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #00b697;
    color: white;
    cursor: pointer;

}
.imgarea{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textarea{
    width: 90%;
    height: auto;
    justify-content: flex-start;
    padding: 20px 0px;
    margin-top: 50px;
}
.textarea>h2{
    font-size: 18px;
}
.imges{
    width: 90%;
    height: 500px;
}
.imges>img{
    width: 100%;
    height: 100%;
}

/* Aboutus */
.growwith{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.growwith>h1{
    padding: 70px 10px;
}
.provide-sec{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}
.provid{
    width: 40%;
}
.provid>h5{
    font-size: 20px;
    color: #747d8c;
    padding-bottom: 20px;
}
.provid>h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.provid>h6{
    color: #747d8c;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}
.provid>li{
    list-style: none;
}
.provid>p{
    margin-bottom: 10px;
}


.img-sec{
    width: 50%;
    height: auto;
}
.img-sec>img{
    width: 100%;
    border-radius: 20px;
}
.facheck{
    color: goldenrod;
    margin-right: 10px;
}
.missin-vision{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 100px;
}
.missioncon{
    font-size: 60px;
    color: goldenrod;
    margin-bottom: 20px;
}
.visioncon{
    font-size: 60px;
    color: #008f77;
    margin-bottom: 20px;
}
.mission>h2{
    font-size: 25px;
    margin-bottom: 30px;
}
.mission>p{
    font-size: 18px;
    color: #747d8c;
}
.somethingaboutus{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.knowaboutus{
    border: 1px solid #747d8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}
.knowaboutus>h1{
    margin-bottom: 15px;
}
.knowaboutus>p{
    color: #747d8c;
}
.abouticon{
    font-size: 50px;
    margin-bottom: 15px;
    color: #008f77;
}

/* slider */
.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.hero-slider {
  width: 70%;
  height: 400px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 2px 2px #dfe6e9;
}

.hero-track {
  display: flex;
  height: 85%;
  transition: transform 0.7s ease-in-out;
}

.hero-slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  width: 90%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: black;
}

.overlay p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #747d8c;
}



/* dots */
.dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.dot {
  width: 12px;
  height: 12px;
  background: #636e72;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
   
}

.dot.active {
  background: #00b697;
 border: 1px solid #008f77;
  padding: 8px;
}
.imgese{
    z-index: 100;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

/* contact */
.touchariea{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.touchariea>h1{
    margin-top: 50px;
}
.adressandmassbar{
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
.addbar{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #636e72; */
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
}
.acmrbox{
    width: 45%;
    height: 200px;
    /* background-color: #dfe4ea; */
    border: 1px solid #bdc3c7;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.acmrbox>p{
color: #747d8c;
}
.locicon{
    font-size: 35px;
    color: goldenrod;
}
.mail{
    font-size: 35px;
    color: #008f77;
}
.call{
    font-size: 35px;
    color: #d63031;
}
.reg{
    font-size: 35px;
    color: #0984e3;
}
.messbar{
    width: 50%;
    height: auto;
    /* display: flex;
    flex-direction: column; */
}
.messbar>input{
    outline: none;
    border: 1px solid #bdc3c7;
}
.messbar>input:hover{
    border: 1px solid #00b697;
}
.inputs{
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
}
.messbar>textarea{
    width: 100%;
    height: auto;
    padding: 20px 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #bdc3c7;
}
.messbar>textarea:hover{
    border: 1px solid #00b697;
}
.messbar>button{
    padding: 18px;
    border: none;
    outline: none;
    background-color: #00b697;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    width: 100%;
}
.messbar>button:hover{
    background-color: #008f77;
    cursor: pointer;
}


/* Trackparcel */
.trackprcl{
    margin: 150px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 100px; */
}
.trackprcl>h1{
margin-bottom: 20px;
}
.trackprcl>p{
    margin-bottom: 40px;
    color: #747d8c;
}


/* login */
.loginmain{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marchinlogin{
    width: 100%;
    height: auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.marchinlogin>h1{
    margin-bottom: 30px;
}
.loginbox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
    
    
.loginbox>h2{
    padding: 20px;
    text-align: center;
    background-color: #00b697;
    color: white;
    border-radius: 50%;
    font-size: 25px;
    margin-bottom: 20px;
}
.inputfield{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputtypes{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputtypes>input{
    padding: 15px 10px;
    outline: none;
    border: 1px solid #a4b0be;
    border-radius: 10px;
    margin-bottom: 20px;
}
.inputtypes>input:hover{
    border: 1px solid #00b697;
}
.passbox{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.forgotpass>a{
    text-decoration: none;
    font-size: 20px;
    color: #747d8c;
}
.loginbutton{
    width: 50%;
    height: auto;
    margin-bottom: 40px;
}
.loginbutton>button{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #00b697;
    font-size: 20px;
    color: white;
}
.loginbutton>button:hover{
    background-color: #008f77;
    cursor: pointer;
}
.register{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
.register>p{
    font-size: 20px;
    color: #a4b0be;
    margin-bottom: 20px;
    text-align: center;
}
.register span{
    color: #00b697;
}
.register a{
    color: #00b697;
    text-decoration: none;
}
.register>h4{
    background-color: goldenrod;
    padding: 5px 10px;
    color: white;
    margin-bottom: 20px;
}
.register>a{
    color: #00b697;
    cursor: pointer;
    font-size: 20px;
}

/* signup */
.signupbox{
    margin-bottom: 150px;
}

.inputtypes>textarea{
    padding: 10px 10px 30px 10px;
    outline: none;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #a4b0be;

}
.inputtypes>textarea:hover{
    border: 1px solid #00b697;
}
.passbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.passbar>input{
    width: 100%;
    border-radius: 10px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid #a4b0be;
}
.passbar>input:hover{
    border: 1px solid #00b697;
}
.infobar-login{
    width: 50%;
    height: auto;
    text-align: center;
}
.infobar-login>p{
    font-size: 18px;
    color: #747d8c;
    margin-bottom: 40px;
}
.terms:hover{
    color: #00b697;
    cursor: pointer;
}
.infobar-login>h4{
    font-size: 16px;
    color: #636e72;
}
.infobar-login a{
    text-decoration: none;
    color: #00b697;
    padding: 0px 5px;
}
.showerror{
    color: red;
    font-size: 12px;
}



























@media (max-width: 1000px) {
    .caicleimg img {
        width: 400px;
        height: 500px;
    }

    .marchinbutton h1 {
        font-size: 40px;
    }
    .scervise img{
    width: 200px;
    height: 250px;
}
.footer{
    gap: 30px;
}
.covesearch>input::placeholder{
    padding-left: 30px;
}
.provide-sec{
    flex-direction: column;
    align-items: center;
}
.provid{
    width: 90%;
    align-items: center;
    text-align: center;
}
.img-sec{
    width: 90%;
}
.somethingaboutus{
    align-items: center;
    justify-content: center;
}

}

@media (max-width: 860px) {
    .adressandmassbar{
        flex-direction: column;
    }
    .addbar{
        width: 100%;
    }
    .messbar{
        width: 100%;
        padding: 20px;
        margin-top: 50px;
    }
    
}



@media (max-width: 820px) {
    .mainnav {
        display: none;
    }

    .navtrackparcel {
        display: none;
    }

    .homeimg {
        width: 150px;
    }

    .menuicon {
        display: block;
    }

    .caicleimg img {
        width: 200px;
        height: 300px;
    }

    .marchinbutton h1 {
        font-size: 30px;
    }
    .for-choose{
        max-width: 45%;
    }
    .items{
        width: 80%;
    }
    .growbus h1{
        font-size: 28px;
    }
    .covesearch input{
    padding: 10px 20px;
}
    .covesearch>input::placeholder{
    padding-left: 0px;
}
.btn{
    padding: 8px 15px;
}
.searchicons{
    font-size: 20px;
}
.buttons>button{
    font-size: 18px;
}
.covesearch{
    width: 70%;
}

}

@media (max-width:600px) {
    .ourinformation {
        display: none;
    }
    .brands img{
    width: 100px;
    height: 100px;
}
.brandslogo h1{
    font-size: 20px;
}
.for-choose{
    max-width: 90%;
}
  .growbus h1{
        font-size: 23px;
    }
    .licmem{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .license{
        align-items: center;
        justify-content: center;
    }
    .license h2{
        text-align: center;
    }
    .condation{
        padding-left: 0px;
    }
    .Price-Calculator{
        display: none;
    }
    .delivery-charge h2{
    font-size: 20px;
    text-align: center;
}
.delivery-charge p{
    font-size: 17px;
    text-align: center;
}
.btn{
    padding: 5px 10px;
}
.searchicons{
    font-size: 17px;
}
.buttons>button{
    font-size: 15px;
}
    .covesearch input{
    padding: 6px 10px;
}
.covesearch>input::placeholder{
    font-size: 15px;
}
.covesearch{
    width: 80%;
}
.provid>h1{
    font-size: 35px;
}
.provid>h6{
    font-size: 14px;
    font-weight: 500;
}
.missin-vision{
    flex-direction: column;
}
.mission{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.overlay h1 {
  font-size: 35px;
}

.overlay p {
  font-size: 16px;
}
.acmrbox{
    width: 100%;
}

}



@media (max-width: 470px) {
    .navbar {
        padding: 20px 10px;
    }

    .homeimg img {
        width: 130px;
    }

    .navli {
        font-size: 12px;
    }

    .menuicon {
        margin-right: 20px;
    }

    .signup li {
        padding: 10px 15px;
    }

    .makemarchin {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .caicleimg img {
        width: 400px;
        height: 300px;
    }

    .marchinbutton {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .marchinbutton h1 {
        text-align: center;
        line-height: 50px;
    }
    .scervise img{
    width: 150px;
    height: 180px;
}
    .brands img{
    width: 80px;
    height: 80px;
}
.quastionbar h1{
    padding: 30px 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
.growbus h1{
        font-size: 21px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .list p{
        font-size: 12px;
    }
    .search-area>h1{
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }
    .inputtypes{
        width: 80%;
    }
    .passbox{
        width: 80%;
    }
    .forgotpass>a{
        font-size: 16px;
    }
    .loginbutton{
        width: 80%;
    }

}
























@media (max-width: 380px) {
    .homeimg img {
        width: 130px;
    }
     .caicleimg img {
        width: 300px;
        height: 300px;
    }
}